html {
  box-sizing: border-box;
  overflow-x: hidden; /* Zakáže horizontální posuvník */
  width: 100vw; /* Zabrání roztažení */
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f1e8e3;
  overflow-x: hidden; /* Zakáže horizontální posuvník */
  width: 100vw; /* Zabrání roztažení */
  font-family: Genos;
  font-weight: 300;
  font-size: 20px;
}
a {
  color: purple;
}
a:visited {
  color: purple; /* Když už jsi odkaz navštívil/a */
}
a:active {
  color: purple !important;
}
a:focus {
  color: purple; /* Když je odkaz aktivní (po kliknutí nebo tabulátoru) */
}
a[href^="tel:"] {
  color: purple !important;
}
a[target="_blank"] {
  color: purple !important;
}
a[href*="maps.google.com"] {
  color: purple !important; /* Přebije výchozí styl pro Google Maps odkazy */
}
.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Rozšíří ho na celou šířku */
  height: 60px; /* Nastav pevnou výšku podle potřeby */
  background: linear-gradient(to right, #9d7a67, #ca9e9b);
  z-index: 1100;
  display: flex; /* Pokud obsah mizí, pomůže flexbox */
  align-items: center; /* Zarovná obsah vertikálně */
  justify-content: space-between;
  padding-top: 0.5%;
}
h1 {
  margin-left: 3%;
  font-size: 35px;
}
.full {
  /*viditelne menu*/
  display: flex;
  flex-direction: row;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: #9e9762;
  margin-left: 1%;
}
.full a {
  text-decoration: none;
  color: antiquewhite;
}

@media only screen and (max-width: 800px) {
  .full {
    display: none;
  }
}

.ham {
  /*hamburger a krizek*/
  width: 3vw;
  aspect-ratio: 1/1; /*vyrobím čtverec*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin-top: 3%;
  position: absolute;
  z-index: 9999;
  left: 83%;
}
.cara1,
.cara2,
.cara3 {
  width: 100%;
  flex-shrink: 0;
  height: 2px;
  background-color: #694f4d;
  /*background-color: #ccbd71;*/
}
.cara2 {
  background-color: #978c56;
}
@media only screen and (min-width: 800px) {
  .ham,
  .cara1,
  .cara2,
  .cara3 {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .ham {
    width: 9%;
    align-self: stretch;
    margin-right: 10%;
  }
}
.caraB {
  display: none;
}
.caraA {
  transform: rotate(45deg);
  position: relative;
  top: 20%;
}
.caraC {
  transform: rotate(-45deg);
  position: relative;
  bottom: 30%;
}

.nav {
  /*navigace na klik*/
  background-color: #ca9e9bf3;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  margin-top: 0;
  padding: 10%;
  padding-top: 10%;
}
ul {
  list-style: none;
  line-height: 300%;
  display: flex;
  flex-direction: column;
}
a.nav-link {
  color: #2d0408;
}
.road,
.ordertext,
.phonetext {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
}
.phonetext {
  margin-bottom: 10%;
}

#nav-text {
  margin-left: 7%;
}
@media only screen and (min-width: 800px) {
  .nav {
    display: none;
  }
}
.nav-link {
  text-align: left;
  text-decoration: none;
  font-size: 1.6rem;
  column-gap: 10rem;
  color: #07192f;
}

.hidden {
  display: none;
}
.cenik,
.cenik2 {
  display: none;
}

.container {
  display: grid;
  grid-template-areas:
    "photo"
    "intro"
    "interval"
    "order"
    "interval2"
    "address"
    "see"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 60px auto 60px auto auto auto;
  padding-top: 60px;
  align-items: center;
  justify-items: center;
}
@media only screen and (min-width: 800px) {
  .container {
    grid-template-rows: 60vh 50vh 60px auto 60px auto auto auto;
  }
  body {
    font-size: 22px;
  }
}

/*uvodni fotka*/
.cucu {
  display: none;
}
.photo {
  grid-area: photo;
  min-width: 100vw;
  min-height: 25rem;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-position: 25% 50%;
  position: relative;
}

.logo {
  position: absolute;
  width: 10rem;
  border-radius: 0 0 50% 50%;
}

@media (min-width: 768px) {
  .photo {
    background: linear-gradient(to right, #9d7a67, #ca9e9b);
  }
  .cucu {
    position: relative;
    display: inherit;
    width: 80vw;
    max-height: 90vh;
    margin-top: 4%;
    left: 5%;
  }
  .logo {
    position: absolute;
    z-index: 1000;
    width: 20rem;
    height: 12rem;
    border-radius: 0 0 50% 50%;
    top: 7.5rem;
  }
}
/*uvod - sluzby*/
.intro p {
  grid-area: intro;
  padding: 3% 10% 0 10%;
  width: 100vw;
  line-height: 1.6;
  font-weight: 400;
}
@media (min-width: 768px) {
  .intro p {
    /* margin: 2% 10% 2% 10%;*/
    padding: 10% 10rem 0 8rem;
    line-height: 2;
    font-size: 22px;
  }
}
.interval {
  grid-area: interval;
}
.interval2 {
  grid-area: interval2;
}
.interval,
.interval2 {
  display: block;
  min-height: 60px;
}
/*kontaktni formular*/
.order {
  grid-area: order;
  display: flex;
  flex-direction: column;
  background-color: #9e9762;
  align-items: center;
  justify-content: center;
  color: #442f23;
  width: 100%;
  min-height: 100vh; /* Aby se obsah centroval vertikálně */
}
.formular h4 {
  padding: 3% 10% 0 10%;
  color: #442f23;
}
.formular p {
  padding: 3% 10% 0 10%;
  font-weight: 400;
}
.forms {
  width: 100%; /* Zajistí, že formulář se roztáhne na menších displejích */
  /*display: flex;
  flex-direction: column;*/
  align-items: center; /* Zarovná obsah formuláře na střed */
  justify-content: center;
  color: #442f23;
  padding: 3% 10% 3% 10%;
  font-weight: 400;
}
.formular {
  grid-area: formular;
  display: block;
  margin: 0 auto;
  height: 100%;
}
.forms label {
  margin-top: 10px; /* Mezera nad popisky */
  display: block; /* Každý popisek na nový řádek */
  margin: 0 auto;
}

.forms input,
textarea {
  max-width: 350px; /* Omezí šířku pro lepší vzhled */
  width: 100%; /* Zajistí, že vstupy budou stejně široké jako formulář */
  background-color: #f1e8e3dd;
  border-style: none;
  box-shadow: 0 2px 5px #ca9e9b;
  height: 30px;
  font-size: 18px;
  padding: 1rem;
}
.forms textarea {
  height: 120px; /* Větší výška pro textovou oblast */
  resize: vertical; /* Umožní změnu velikosti jen vertikálně */
  margin-bottom: 5%;
}
.forms button {
  display: block;
  background-color: #ca9e9b;
  width: 4rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 auto;
}
@media only screen and (min-width: 800px) {
  .order {
    display: grid;
    grid-template-areas: "formular zbytek";
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
  .formular {
    grid-area: formular;
    /* display: flex;
    flex-direction: column;*/
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .zbytek {
    grid-area: zbytek;
    padding: 3% 2rem 3% 8rem;
    display: flex;
    flex-direction: column;
    justify-self: start;
  }
  .formular h4 {
    padding: 3% 2rem 3% 8rem;
  }
  .formular p {
    width: 100%;
    padding: 1% 2rem 3% 8rem;
    margin: 0;
  }
  .forms {
    width: 100%;
    padding: 1% 0 3% 8rem;
  }
  .forms input,
  textarea {
    height: 50px;
    width: 100%; /* Zajistí, že vstupy budou stejně široké jako formulář */
    background-color: #f1e8e3dd;
    border-style: none;
    box-shadow: 0 2px 5px #ca9e9b;
    font-size: 18px;
  }
  .forms textarea {
    height: 120px; /* Větší výška pro textovou oblast */
    resize: vertical; /* Umožní změnu velikosti jen vertikálně */
  }
}

.tel {
  font-size: 28px;
  text-decoration: none;
}

.mailp {
  font-size: 26px;
  font-weight: 400;
}
.zbytek {
  margin: 0;
  padding: 10%;
  display: block;
  margin: 0 auto;
}

/*salon - adresa*/
.salon {
  grid-area: address;
}

.salon p {
  margin: 0;
  padding: 0% 10% 0 10%;
}

.adresa p {
  padding: 3% 10% 3% 10%;
  width: 100vw;
  line-height: 1.6;
}
.mapa {
  padding: 3% 10% 3% 10%;
}
@media only screen and (min-width: 800px) {
  /*.mapa{display:none}*/
  .adresa p {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1%;
    width: 100%;
  }
  .adresa {
    grid-area: adresa;
    padding: 3%;
  }
  .mapa {
    grid-area: mapa;
    width: 100%;
    padding: 10%;
    margin-right: 5%;
    align-self: center;
  }
  .salon {
    display: grid;
    grid-template-areas: "adresa mapa";
    grid-template-columns: 60vw auto;
    padding: 0;
    margin-bottom: 2rem;
  }
}

/*Jana kontakt*/
.see {
  grid-area: see;
  display: block;
  background-color: #c3b2d8a7;
  padding: 3% 10% 3% 10%;
  margin-top: 60px;
  box-shadow: 3px 10px 10px #c3b2d8;
}
.dog {
  margin-top: 4%;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(246, 246, 170, 0.645);
}
@media only screen and (max-width: 800px) {
  .seeV {
    display: none;
  }
}
@media only screen and (min-width: 800px) {
  .see {
    display: none;
  }
  .seeV {
    position: relative;
  }
  .dogV {
    width: 100vw;
    height: 70vh;
    object-fit: cover; /* Zachová poměr stran a vyřízne přebytek */
  }
  .seetext {
    background-color: #c3b2d879;
    width: fit-content;
    height: 70vh;
    padding: 2rem;
    position: absolute;
    bottom: 1.4%;
    left: 65%;
    padding-top: 5%;
  }
}

footer {
  grid-area: footer;
  margin-top: 60px;
}
